<div class="under">ユーザー情報詳細画面</div>

<%= attachment_image_tag @user, :user_image, size: '100x100', fallback: "image5.JPG", class:'img-circle' %>
<%= @user.name %>
<%= @user.introduction %>

<%= link_to "戻る", fishs_path, class: "btn btn-success" %>