<div class="under">アングラーズって？</div>

<div class="anglers-about">
	<div class="about">
		<div class="about__image">
			<%= image_tag 'fishing-men.png', class: "img-responsive" %>
		</div>
		<div class="about__description">
			「人生初の釣りで初めて釣り上げた魚」<br>
			「一生に一度出逢えるかどうかの大物」<br>
			釣り人それぞれに思い出の<br>
			カタチがあります。
		</div>
	</div>

	<div class="about-center">
		<div class="about__description">
			釣った魚と一緒に、<br>
			思い出を写真に残して、<br>
			ワクワクやドキドキを共有する。
		</div>
		<div class="about__image2">
			<%= image_tag 'bigfish.png', class: "img-responsive" %>
		</div>
	</div>

	<div class="about">
		<div class="about__image3">
			<%= image_tag 'SNS.jpg', class: "img-responsive" %>
		</div>
		<div class="about__description">
			釣り人の、<br>
			釣り人による、<br>
			釣り人のためのサイト。<br>
			あなたも始めてみませんか？
		</div>
	</div>
</div>

