<div class="box-design">
	<div class="pin">
		<div class="pin-img"><%= image_tag 'pin.png', size: "50x50" %></div>
	</div>
	<div id="container">
		<div id="theTarget">
		    <div class="image1">
		    	<div class="image1__letter">
		    		Welcome to Anglers
		    	</div>
		    	<p class="image1__letter-p">
		    		〜当サイトは釣った魚の画像を投稿・閲覧できるサイトです。〜
		    	</p>
		    </div>
		    <div class="image2">
		    	<div class="image1__letter">
		    		No Fishing No Life.
		    	</div>
		    	<p class="image1__letter-p">
		    		〜釣りのない人生なんて、考えられない。〜
		    	</p>
		    </div>
		    <div class="image3">
		    	<div class="image1__letter">
		    		Life Is Mine.
		    	</div>
		    	<p class="image1__letter-p">
		    		〜人生は俺のものだ。〜
		    	</p>
			</div>
		    <div class="image4">
		    	<div class="image1__letter">
		    		I go fishing not to find myself but to lose myself...
		    	</div>
		    	<p class="image1__letter-p">
		    		〜僕は自分を見つけるために釣りに行くのではなく、自分を失うために行くのだ。〜
		    	</p>
		    </div>
		    <div class="image5">
		    	<div class="image1__letter">
		    		When nothing is going right, Just go fishing!
		    	</div>
		    	<p class="image1__letter-p">
		    		〜「何もかもうまくいかない時は、釣りに行けば良い！」〜
		    	</p>
			</div>
		</div>
	</div>
</div>

<div class="under"><h1>投稿の手順</h1></div>

<div class="step">
	<div class="step__step1">
		<div class="step__subtitle">
			Step1. 　新規会員登録/ログインを行なって下さい。▼
		</div>
		<div class="">
		</div>
	</div>
</div>

<hr class="bar">

<div class="step">
	<div class="step__step2">
		<div class="step__subtitle">Step2.</div>
	</div>
</div>

<hr class="bar">

<div class="step">
	<div class="step__step3">
		<div class="step__subtitle">Step3.</div>
	</div>
</div>


<div class="card">
	<div class="clip">
		<div class="clip-img"><%= image_tag 'paper-clip', size: "50x70" %></div>
	</div>
	<%= link_to fishs_path do %>
		<div class="card__image">
			<%= image_tag '3598075_3.jpg', size: '500x400' , class: "img-responsive" %>
		</div>
	<% end %>
</div>