/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/*footer機能*/
nav {
	height: 100px;
}
/*ここまで*/

/*bodyデザイン*/
body {
  background-color: #FAE5F6;
     .link {color:#000022; text-decoration:none;
     visited { color:#000022; text-decoration:none }
     hover { color:#000022; text-decoration:none }
     active { color:#000022; text-decoration:none }
     }
}
/*ここまで*/

/*ホームデザイン(skipper)*/
.image1 {
  background-image: url(image1.JPG);
}
.image2 {
  background-image: url(image2.JPG);
}
.image3 {
  background-image: url(image3.JPG);
}
.image4 {
  background-image: url(image4.JPG);
}
.image5 {
  background-image: url(image5.JPG);
}

#container{
  height: 600px;
}

fish-image {
  width: 50px;
  height: 50px;
}
/*ここまで*/

/*見出しデザイン*/
.under {
  background: linear-gradient(transparent 50%, #a8eaff 50%);
}
/*ここまで*/

#acMenu button {
cursor:pointer;
}
#acMenu comment-form {
background:#f2f2f2;
width:200px;
height:50px;
line-height:50px;
text-align:center;
border:#666 1px solid;
display:none;
}

