/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
   box-sizing: border-box;
}

/*Topに戻るボタン ここから*/
#back {
  position: fixed;
  right: 300px;
  bottom: 20px;
  z-index: 100;
    img {
    width: 50px;
  }
}
/*ここまで*/

/*ヘッダーデザイン　ここから*/

 @mixin header-footer {
  width: 100%;
  padding: 0;
  background-color: rgba(0,0,0,0.4);
  color: white;
  font-size: 16px;
 }

.header {
  height: 110px;
  @include header-footer;
  display: flex;
  font-size: 16px;

  &__logo-img {
    padding-top: 20px;
    margin-left: 13%;
    margin-right: auto;
  }

  &__list {
    margin: {
      right: 13%;
      top: 4%;
      }
  }

  &__item {
    display: inline-block;
    margin: {
      right: 10px;
      left: 10px;
    }
  }

  &__link {
    color: white;
    font-size: 18px;
  }

}

/*ここまで*/

/*bodyデザイン*/
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: image-url("sea.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
}
/*ここまで*/

/*フッターデザイン*/

.footer {
  laft: 50%;
  margin-top: 50px;
	height: 170px;
  position: relative;

  @include header-footer;
    &__copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: {
        top: 130px;
      }
    }

    .twitter {
      position: absolute;
      left: 40%;
      top: 40%;
      .twitter-icon {
        z-index: 100;
      }
    }

    .insta {
      position: absolute;
      left: 50%;
      top: 40%;
      .insta-icon {
        z-index: 100;
      }
    }

    .facebook {
      position: absolute;
      left: 60%;
      top: 40%;
      .facebook-icon {
        z-index: 100;
      }
    }
}

/*ここまで*/

/*Home-indexデザイン*/
.box-design {
 position: relative;
 width: 90%;
 margin: 2.5em auto;
 padding: 35px 30px 20px;
 color: white;/* 文字色 */
 background-color: #e8ddbd; /*枠背景色*/
 box-shadow: inset 0 0 40px rgba(204, 186, 136,1), 2px 10px 10px #333;

    .pin{
      position: absolute;
      top: -10px;
      left: 50%;

      .pin-img{
        margin-left: -50%;
        z-index: 100;
      }
    }
}

#container{
  height: 550px;

  @mixin image {
        background-color: #7f7f7f;
        background-blend-mode: soft-light;
  }

  @mixin letter {
        color: white;
        font-weight: bold;
        font-size: 5rem;
        line-height: 5rem;
        position: absolute;
        bottom: 100px;
        left: 100px;
  }

  @mixin letter-p {
        position: absolute;
        bottom: 45px;
        left: 150px;
        font-size: 20px;
  }

      .image1 {
        background-image: image-url("image1.JPG");
        @include image;
          &__letter {
          @include letter;
          }

          &__letter-p {
          @include letter-p;
          }
  }
      .image2 {
        background-image: image-url("image2.JPG");
        @include image;
      }
      .image3 {
        background-image: image-url("image3.JPG");
        @include image;
      }
      .image4 {
        background-image: image-url("image4.JPG");
        @include image;
      }
      .image5 {
        background-image: image-url("image5.JPG");
        @include image;
      }

  .skippr-nav-container {
        display:none;
  }
}

.card {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:after {
    position: absolute;
    display: block;
    content: "";
    top: 20;
    left: 50;
    width: 500px;
    height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: rotate(3deg);
    background: #fff;
    z-index: -1;
  }

  &:before {
    position: absolute;
    display: block;
    content: "";
    top: 20;
    left: 50;
    width: 500px;
    height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: rotate(-3deg);
    background: #fff;
    z-index: -1;
  }

  .clip {
      position: absolute;
      top: -12%;
      left: 30%;

      .clip-img{
        z-index: 100;
      }
    }
}

/*ここまで*/

/*見出しデザイン*/
.under {
  background: linear-gradient(transparent 80%, #a8eaff 20%);
  margin: 0 auto;
  text-align:center;
}
.under:first-letter {
  font-size: 150%;
  color: #eb6100;
}
/*ここまで*/

/*アコーディオンメニュー*/
#acMenu button {
  cursor:pointer;
}

#acMenu {
  margin: {
    top: 3%;
  }
}

/*ここまで*/

/*入力フォームデザイン　ここから*/
@mixin form-controll {
  margin: {
      bottom: 30px;
    }
}

.UserEdit-form {
  margin-top: 50px;
}

.Edit-form {
  margin-top: 50px;
}

.form {
  height: 450px;

  .headline {
    font-size: 18px;
  }

  &__image {
    @include form-controll;
  }

  &__title {
    @include form-controll;
  }

  &__date {
    @include form-controll;
  }

  &__name {
    @include form-controll;
  }

  &__contents {
    @include form-controll;
    .contents-form {
      resize: vertical;
    }
  }

  &__fish-size {
    @include form-controll;
  }

  &__fish-weight {
    @include form-controll;
  }

  &__prefectures {
    @include form-controll;
    font-size: 15px;
  }

  &__user-name {          /*ユーザー情報編集画面デザイン　ここから*/
    @include form-controll;
  }

  &__user-introduction {
    @include form-controll;
  }

}
/*ここまで*/

/*fish-indexデザイン*/

.btn-center {
  text-align: center;
      &__square {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #668ad8;
      color: #FFF;
      border-bottom: solid 4px #627295;
      border-radius: 3px;
      cursor: pointer;
      user-select: none;
      text-align:center;
      font-size: 20px;
      margin: {
          top: 10px;
          bottom: 50px;
      }

        &:active {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        border-bottom: none;
      }
    }

    .balloon {
      position: relative;
      width: 250px;
      margin: 50px auto 10px;
      padding: 10px;
      background: pink;
      text-align: center;
      color: red;
      border-radius: 8px;
      font-size: 20px;
      animation: FloatVertical 3.5s ease-in-out infinite alternate;
      @keyframes FloatVertical {
          0% { transform:translate3d(0,0px,0); }
          50% { transform:translate3d(0,-15px,0); }
          100% { transform:translate3d(0,15px,0); }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -28px;
        left: 50%;
        margin-left: -14px;
        border: 14px solid transparent;
        border-top-color: pink;
      }
    }
}

.cards {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;

  .fishpin {
      position: absolute;

      .fishpin-img{
        z-index: 100;
        margin-left: 160%;
        margin-top: -30%
      }
    }

  &__item {
    height: auto;
    margin: 4% auto;
    float: left;
    background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
    font-size: 30px;
    border-radius: 8px;
    padding: 3px;
    width: auto;
  }

  &__image {
    padding: 5px;
  }

  &__title {
    color: #000022;
    padding-left: 3%;
  }

  &__comment {
    color: #000022;
    padding: 0 3%;
    float: left;
    width: 40%;
  }

  &__user_image {
    padding-left: 3%;
    padding-bottom: 2%;
    float: left;
  }

  &__user_name {
    font-size: 20px;
    color: black;
    margin-top: 3%;
  }

  &__contents {
    padding: 1%;
    font-size: 12px;
    height: 70px;
    border: 0.2px solid black;
    margin: 2%;
    max-width: 97%;
    border-radius: 8px;
    overflow: scroll;
    white-space: pre-line;
    clear: both;
  }
}
/*ここまで*/

/*釣果詳細画面デザインここから*/

.user {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__image {
    margin: {
      top: 3%;
      bottom: 2%;
      left: 5%;
    }
  }

  &__name {
    font-size: 25px;
    margin-left: 30px;
  }

  &__button {
    margin-left: 40px;
  }
}

.fish-image {
  text-align : center;
}

.center-form, .left-form {
  padding-left: 60px;
}

.back-button {
  padding-left: 60px;
  margin: {
    top: 30px;
    bottom: 30px;
  }
}

/*ここまで*/

/*コメント欄デザイン*/

.comment-button {
  text-align: center;
}

.comment-form {
  padding: 25px;
}

.comment-send-button {
  margin: {
    top: 20px;
    right: 20px;
    bottom: 60px;
  }
  text-align: right;
}

.comment-section {

  &__user-image {
  }

  &__user-name {
  }
}

/*ここまで*/

/*ログイン、サインイン画面*/

.email-field {
  font-size: 18px;
  margin: {
      top: 3%;
      bottom: 3%;
  }
}

.password-field {
  font-size: 18px;
  margin: {
      top: 3%;
      bottom: 3%;
  }
}

/*ここまで*/












