<footer class="footer">

	<div class="SNS">
		<div class="SNS__insta">
			<div class="insta-img"><%= image_tag 'Insta-icon.png', size: "40x40" %></div>
		</div>

		<div class="SNS__twitter">
			<div class="twitter-img"><%= image_tag 'Twitter-icon.png', size: "40x40" %></div>
		</div>

		<div class="SNS__facebook">
			<div class="facebook-img"><%= image_tag 'Facebook-icon.png', size: "40x40" %></div>
		</div>
	</div>

    <div class="footer__copyright">© 2020 Copyright: Anglers</div>

</footer>